<ul class="card-text font-weight-light list-group list-group-flush">
  <div class="row">
    {% for content in entry.contents %}
      <div class="col-md-4">
        <li class="list-group-item">
          <h5 class="font-italic">{{ content.title }}</h5>
          {% if content.items %}
            <ul class="subitems">
              {% for subitem in content.items %}
                <li>
                  <span class="subitem">{{ subitem }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      </div>
    {% endfor %}
  </div>
</ul>
